Package: com.pupvoltzy.grindrenhancer
Name: Grindr Enhancer
Version: 0.2.0
Architecture: iphoneos-arm
Description: Enhance your experience using Grindr. Currently supports blocking (some) ads.
Maintainer: PupVoltzy
Author: PupVoltzy
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Depiction: https://pupvoltzy.github.io/depictions/?p=com.pupvoltzy.grindrenhancer
